apiVersion: v1
kind: ConfigMap
metadata:
  name: kumpulbareng-config
  namespace: kumpulbareng
data:
  # Dipakai backend untuk CORS
  CLIENT_URL: "http://localhost:3000"

  # Dipakai frontend (Next.js) di browser
  # Browser akan call http://localhost:5000, dan kita port-forward ke kb-server
  NEXT_PUBLIC_API_URL: "http://localhost:5000"

  # Prisma connect ke Postgres service di cluster
  DATABASE_URL: "postgresql://myuser:mypassword@postgres:5432/kumpulbareng_db"
---
apiVersion: v1
kind: Secret
metadata:
  name: kumpulbareng-secrets
  namespace: kumpulbareng
type: Opaque
stringData:
  MIDTRANS_SERVER_KEY: "Mid-server-REPLACE_WITH_YOUR_KEY"
  MIDTRANS_CLIENT_KEY: "Mid-client-REPLACE_WITH_YOUR_KEY"
  JWT_SECRET: "CHANGE_ME_IN_DEPLOYMENT"
  NGROK_AUTHTOKEN: "REPLACE_WITH_NGROK_TOKEN"
